<?xml version="1.0"?>
<!-- urdf macro inertial, visual and collision for robot parts -->
<robot name="separable_jaws" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- constant definition -->
    <xacro:property name="triple_zero" value="0 0 0"/>
    <xacro:property name="link_material" value="Light_grey"/>
    <xacro:property name="cover_material" value="Black"/>
    <xacro:property name="extension_ring_material" value="White"/>
    <xacro:property name="motor_material" value="Grey"/>

    <!-- links -->
    <!-- bracket -->
    <xacro:macro name="bracket" params="name xyz:=${triple_zero} rpy:=${triple_zero}">
        <link name="${name}">
            <inertial>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <mass value="0.345"/>
                <inertia
                    ixx="0.000498516" ixy="0.000014631" ixz="-0.000000327"
                    iyy="0.000806479" iyz="-0.000000068"
                    izz="0.000424246"
                />
            </inertial>
            <visual>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/bracket.stl"/>
                </geometry>
                <material name="${link_material}"/>
            </visual>
            <collision>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/bracket.stl"/>
                </geometry>
            </collision>
        </link>
        <xacro:if value="$(arg using_gazebo)">
            <gazebo reference="${name}">
                <material>Gazebo/${link_material}</material>
            </gazebo>
        </xacro:if>
    </xacro:macro>

    <!-- shoulder -->
    <xacro:macro name="shoulder" params="name xyz:=${triple_zero} rpy:=${triple_zero}">
        <link name="${name}">
            <inertial>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <mass value="0.341"/>
                <inertia
                    ixx="0.001205694" ixy="0.000197055" ixz="-0.000000001"
                    iyy="0.00053986" iyz="-0.000000004"
                    izz="0.001280523"
                />
            </inertial>
            <visual>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/shoulder.stl"/>
                </geometry>
                <material name="${link_material}"/>
            </visual>
            <collision>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/shoulder.stl"/>
                </geometry>
            </collision>
        </link>
        <xacro:if value="$(arg using_gazebo)">
            <gazebo reference="${name}">
                <material>Gazebo/${link_material}</material>
            </gazebo>
        </xacro:if>
    </xacro:macro>
    
    <!-- upper_arm -->
    <xacro:macro name="upper_arm" params="name xyz:=${triple_zero} rpy:=${triple_zero}">
        <link name="${name}">
            <inertial>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <mass value="0.878"/>
                <inertia
                    ixx="0.021889537" ixy="0.005953130" ixz="-0.000000002"
                    iyy="0.003984845" iyz="-0.000000002"
                    izz="0.024402335"
                />
            </inertial>
            <visual>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/upper_arm.stl"/>
                </geometry>
                <material name="${link_material}"/>
            </visual>
            <collision>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/upper_arm.stl"/>
                </geometry>
            </collision>
        </link>
        <xacro:if value="$(arg using_gazebo)">
            <gazebo reference="${name}">
                <material>Gazebo/${link_material}</material>
            </gazebo>
        </xacro:if>
    </xacro:macro>

    <!-- lower_arm -->
    <xacro:macro name="lower_arm" params="name xyz:=${triple_zero} rpy:=${triple_zero}">
        <link name="${name}">
            <inertial>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <mass value="0.54"/>
                <inertia
                    ixx="0.010361365" ixy="-0.000515183" ixz="0.000000002"
                    iyy="0.000723729" iyz="0.000000018"
                    izz="0.010447864"
                />
            </inertial>
            <visual>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/lower_arm.stl"/>
                </geometry>
                <material name="${link_material}"/>
            </visual>
            <collision>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/lower_arm.stl"/>
                </geometry>
            </collision>
        </link>
        <xacro:if value="$(arg using_gazebo)">
            <gazebo reference="${name}">
                <material>Gazebo/${link_material}</material>
            </gazebo>
        </xacro:if>
    </xacro:macro>

    <!-- wrist -->
    <xacro:macro name="wrist" params="name xyz:=${triple_zero} rpy:=${triple_zero}">
        <link name="${name}">
            <inertial>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <mass value="0.219"/>
                <inertia
                    ixx="0.000292618" ixy="0.00009765" ixz="0.000000002"
                    iyy="0.000386529" iyz="0.000000001"
                    izz="0.000480342"
                />
            </inertial>
            <visual>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/wrist.stl"/>
                </geometry>
                <material name="${link_material}"/>
            </visual>
            <collision>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/wrist.stl"/>
                </geometry>
            </collision>
        </link>
        <xacro:if value="$(arg using_gazebo)">
            <gazebo reference="${name}">
                <material>Gazebo/${link_material}</material>
            </gazebo>
        </xacro:if>
    </xacro:macro>

    <!-- covers -->
    <!-- shoulder_extension_ring -->
    <xacro:macro name="shoulder_extension_ring" params="name xyz:=${triple_zero} rpy:=${triple_zero}">
        <link name="${name}">
            <inertial>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <mass value="0.01"/>
                <inertia
                    ixx="0.000008154" ixy="0" ixz="0"
                    iyy="0.000007974" iyz="0.000000006"
                    izz="0.000015238"
                />
            </inertial>
            <visual>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/shoulder_extension_ring.stl"/>
                </geometry>
                <material name="${extension_ring_material}"/>
            </visual>
            <collision>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/shoulder_extension_ring.stl"/>
                </geometry>
            </collision>
        </link>
        <xacro:if value="$(arg using_gazebo)">
            <gazebo reference="${name}">
                <material>Gazebo/${extension_ring_material}</material>
            </gazebo>
        </xacro:if>
    </xacro:macro>

    <!-- shoulder_cover -->
    <xacro:macro name="shoulder_cover" params="name xyz:=${triple_zero} rpy:=${triple_zero}">
        <link name="${name}">
            <inertial>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <mass value="0.075"/>
                <inertia
                    ixx="0.000055846" ixy="0" ixz="0"
                    iyy="0.000055846" iyz="0"
                    izz="0.000068514"
                />
            </inertial>
            <visual>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/shoulder_cover.stl"/>
                </geometry>
                <material name="${cover_material}"/>
            </visual>
            <collision>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/shoulder_cover.stl"/>
                </geometry>
            </collision>
        </link>
        <xacro:if value="$(arg using_gazebo)">
            <gazebo reference="${name}">
                <material>Gazebo/${cover_material}</material>
            </gazebo>
        </xacro:if>
    </xacro:macro>

    <!-- upper_arm_cover -->
    <xacro:macro name="upper_arm_cover" params="name xyz:=${triple_zero} rpy:=${triple_zero}">
        <link name="${name}">
            <inertial>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <mass value="0.235"/>
                <inertia
                    ixx="0.000385567" ixy="-0.00000002" ixz="0.000732197"
                    iyy="0.006196229" iyz="-0.000000009"
                    izz="0.00621496"
                />
            </inertial>
            <visual>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/upper_arm_cover.stl"/>
                </geometry>
                <material name="${cover_material}"/>
            </visual>
            <collision>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/upper_arm_cover.stl"/>
                </geometry>
            </collision>
        </link>
        <xacro:if value="$(arg using_gazebo)">
            <gazebo reference="${name}">
                <material>Gazebo/${cover_material}</material>
            </gazebo>
        </xacro:if>
    </xacro:macro>

    <!-- lower_arm_cover -->
    <xacro:macro name="lower_arm_cover" params="name xyz:=${triple_zero} rpy:=${triple_zero}">
        <link name="${name}">
            <inertial>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <mass value="0.079"/>
                <inertia
                    ixx="0.000047626" ixy="0.000000367" ixz="0.000039299"
                    iyy="0.001178645" iyz="-0.000000021"
                    izz="0.00121964"
                />
            </inertial>
            <visual>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/lower_arm_cover.stl"/>
                </geometry>
                <material name="${cover_material}"/>
            </visual>
            <collision>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/lower_arm_cover.stl"/>
                </geometry>
            </collision>
        </link>
        <xacro:if value="$(arg using_gazebo)">
            <gazebo reference="${name}">
                <material>Gazebo/${cover_material}</material>
            </gazebo>
        </xacro:if>
    </xacro:macro>

    <!-- wrist_extension_ring -->
    <xacro:macro name="wrist_extension_ring" params="name xyz:=${triple_zero} rpy:=${triple_zero}">
        <link name="${name}">
            <inertial>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <mass value="0.007"/>
                <inertia
                    ixx="0.000003276" ixy="0" ixz="0"
                    iyy="0.000003197" iyz="0.000000003"
                    izz="0.00000617"
                />
            </inertial>
            <visual>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/wrist_extension_ring.stl"/>
                </geometry>
                <material name="${extension_ring_material}"/>
            </visual>
            <collision>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/wrist_extension_ring.stl"/>
                </geometry>
            </collision>
        </link>
        <xacro:if value="$(arg using_gazebo)">
            <gazebo reference="${name}">
                <material>Gazebo/${extension_ring_material}</material>
            </gazebo>
        </xacro:if>
    </xacro:macro>

    <!-- wrist_cover -->
    <xacro:macro name="wrist_cover" params="name xyz:=${triple_zero} rpy:=${triple_zero}">
        <link name="${name}">
            <inertial>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <mass value="0.037"/>
                <inertia
                    ixx="0.000009686" ixy="0" ixz="0"
                    iyy="0.00000987" iyz="0"
                    izz="0.000017485"
                />
            </inertial>
            <visual>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/wrist_cover.stl"/>
                </geometry>
                <material name="${cover_material}"/>
            </visual>
            <collision>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/wrist_cover.stl"/>
                </geometry>
            </collision>
        </link>
        <xacro:if value="$(arg using_gazebo)">
            <gazebo reference="${name}">
                <material>Gazebo/${cover_material}</material>
            </gazebo>
        </xacro:if>
    </xacro:macro>

    <!-- motors -->
    <!-- dynamixel_pro_h54-100-s500 -->
    <xacro:macro name="dynamixel_pro_h54-100-s500" params="name xyz:=${triple_zero} rpy:=${triple_zero}">
        <link name="${name}">
            <inertial>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <mass value="0.732"/>
                <inertia
                    ixx="0.002986389" ixy="0" ixz="0"
                    iyy="0.000323459" iyz="0.000020263"
                    izz="0.002987724"
                />
            </inertial>
            <visual>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/dynamixel_pro_h54-100-s500.stl"/>
                </geometry>
                <material name="${motor_material}"/>
            </visual>
            <collision>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/dynamixel_pro_h54-100-s500.stl"/>
                </geometry>
            </collision>
        </link>
        <xacro:if value="$(arg using_gazebo)">
            <gazebo reference="${name}">
                <material>Gazebo/${motor_material}</material>
            </gazebo>
        </xacro:if>
    </xacro:macro>

    <!-- dynamixel_pro_h54-200-s500 -->
    <xacro:macro name="dynamixel_pro_h54-200-s500" params="name xyz:=${triple_zero} rpy:=${triple_zero}">
        <link name="${name}">
            <inertial>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <mass value="0.219"/>
                <inertia
                    ixx="0.004683715" ixy="0" ixz="0"
                    iyy="0.000378897" iyz="0.000023577"
                    izz="0.004684874"
                />
            </inertial>
            <visual>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/dynamixel_pro_h54-200-s500.stl"/>
                </geometry>
                <material name="${motor_material}"/>
            </visual>
            <collision>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/dynamixel_pro_h54-200-s500.stl"/>
                </geometry>
            </collision>
        </link>
        <xacro:if value="$(arg using_gazebo)">
            <gazebo reference="${name}">
                <material>Gazebo/${motor_material}</material>
            </gazebo>
        </xacro:if>
    </xacro:macro>

    <!-- dynamixel_pro_h42-20-s300-->
    <xacro:macro name="dynamixel_pro_h42-20-s300" params="name xyz:=${triple_zero} rpy:=${triple_zero}">
        <link name="${name}">
            <inertial>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <mass value="0.219"/>
                <inertia
                    ixx="0.000890475" ixy="0" ixz="0"
                    iyy="0.000092678" iyz="0.000003424"
                    izz=".000890318"
                />
            </inertial>
            <visual>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/dynamixel_pro_h42-20-s300.stl"/>
                </geometry>
                <material name="${motor_material}"/>
            </visual>
            <collision>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="package://separable_jaws_description/meshes/dynamixel_pro_h42-20-s300.stl"/>
                </geometry>
            </collision>
        </link>
        <xacro:if value="$(arg using_gazebo)">
            <gazebo reference="${name}">
                <material>Gazebo/${motor_material}</material>
            </gazebo>
        </xacro:if>
    </xacro:macro>
</robot>
