<?xml version="1.0"?>
<robot name="separable_jaws" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- joint control config macro -->
    <xacro:macro name="joint_control_config" params="joint_name id:=0 pos_max:=${radians(180)} pos_min:=${radians(-180)}">
        <joint name="${joint_name}">
            <param name="id">${id}</param>
            <command_interface name="position">
                <param name="min">${pos_max}</param>
                <param name="max">${pos_min}</param>
            </command_interface>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
    </xacro:macro>

    <!-- separable_jaws ros2_control macro -->
    <xacro:macro name="separable_jaws_ros2_control">
        <ros2_control name="separable_jaws_control_system" type="system">
            <hardware>
                <xacro:if value="$(arg using_gazebo)">
                    <plugin>gazebo_ros2_control/GazeboSystem</plugin>
                </xacro:if>
                <xacro:unless value="$(arg using_gazebo)">
                    <plugin>dynamixel_hardware/DynamixelHardware</plugin>
                    <xacro:if value="$(arg using_fake_hardware)">
                        <param name="use_dummy">true</param>
                    </xacro:if>
                    <xacro:unless value="$(arg using_fake_hardware)">
                        <param name="usb_port">/dev/ttyUSB0</param>
                        <param name="baud_rate">1000000</param>
                    </xacro:unless>
                </xacro:unless>
            </hardware>
            <xacro:if value="$(arg using_left_arm)">
                <xacro:joint_control_config joint_name="left_shoulder_joint" id="7"/>
                <xacro:joint_control_config joint_name="left_upper_arm_joint" id="8"/>
                <xacro:joint_control_config joint_name="left_lower_arm_joint" id="9"/>
                <xacro:joint_control_config joint_name="left_wrist_joint" id="10"/>
                <xacro:joint_control_config joint_name="left_palm_joint" id="11"/>
            </xacro:if>
            <xacro:if value="$(arg using_right_arm)">
                <xacro:joint_control_config joint_name="right_shoulder_joint" id="1"/>
                <xacro:joint_control_config joint_name="right_upper_arm_joint" id="2"/>
                <xacro:joint_control_config joint_name="right_lower_arm_joint" id="3"/>
                <xacro:joint_control_config joint_name="right_wrist_joint" id="4"/>
                <xacro:joint_control_config joint_name="right_palm_joint" id="5"/>
            </xacro:if>
        </ros2_control>
    </xacro:macro>
</robot>
