<?xml version="1.0"?>
<robot name="separable_jaws" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- include macros from other files-->
    <xacro:include filename="$(find separable_jaws_description)/urdf/material.xacro"/>
    <xacro:include filename="$(find separable_jaws_description)/urdf/simple_geometry.xacro"/>
    <xacro:include filename="$(find separable_jaws_description)/urdf/parts.xacro"/>
    <xacro:include filename="$(find separable_jaws_description)/urdf/subassemblies.xacro"/>

    <!-- robot definition -->
    <link name="base_link"/>
    <xacro:right_bracket xyz="0 0 1"/>
    <xacro:right_shoulder/>
    <xacro:right_upper_arm/>
    <xacro:right_lower_arm/>
    <xacro:right_wrist/>
    <xacro:right_palm/>
</robot>