<?xml version="1.0"?>
<!-- urdf macro with inertial, visula and collision for simple geometries -->
<robot name="separable_jaws" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- constant definition -->
    <xacro:property name="triple_zero" value="0 0 0"/>

    <!-- solid cuboid property macro, default orientation is length in x-axis, width in y-axis, hight in z-axis -->
    <xacro:macro name="cuboid" params="name length width hight xyz:=${triple_zero} rpy:=${triple_zero} mass material">
        <link name="${name}">
            <inertial>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <mass value="${mass}"/>
                <inertia
                    ixx="${1 / 12 * mass * (width ** 2 + hight ** 2)}" ixy="0.0" ixz="0.0"
                    iyy="${1 / 12 * mass * (length ** 2 + hight ** 2)}" iyz="0.0"
                    izz="${1 / 12 * mass * (length ** 2 + width ** 2)}"
                />
            </inertial>
            <visual>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <box size="${length} ${width} ${hight}"/>
                </geometry>
                <material name="${material}"/>
            </visual>
            <collision>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <box size="${length} ${width} ${hight}"/>
                </geometry>
            </collision>
        </link>
        <gazebo reference="${name}">
            <material>Gazebo/${material}</material>
        </gazebo>
    </xacro:macro>

    <!-- solid cylinder property macro, default orientation is length in z-axis -->
    <xacro:macro name="cylinder" params="name length radius xyz:=${triple_zero} rpy:=${triple_zero} mass material">
        <link name="${name}">
            <inertial>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <mass value="${mass}"/>
                <inertia
                    ixx="${1 / 12 * mass * (3 * radius ** 2 + length ** 2)}" ixy="0.0" ixz="0.0"
                    iyy="${1 / 12 * mass * (3 * radius ** 2 + length ** 2)}" iyz="0.0"
                    izz="${1 / 2 * mass * radius ** 2}"
                />
            </inertial>
            <visual>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <cylinder length="${length}" radius="${radius}"/>
                </geometry>
                <material name="${material}"/>
            </visual>
            <collision>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <cylinder length="${length}" radius="${radius}"/>
                </geometry>
            </collision>
        </link>
        <!-- attibutes specfic to gazebo -->
        <gazebo reference="${name}">
            <material>Gazebo/${material}</material>
        </gazebo>
    </xacro:macro>

    <!-- solid sphere property macro -->
    <xacro:macro name="sphere" params="name radius xyz:=${triple_zero} mass material">
        <link name="${name}">
            <inertial>
                <origin xyz="${xyz}" rpy="0 0 0"/>
                <mass value="${mass}"/>
                <inertia
                    ixx="${2 / 5 * mass * radius ** 2}" ixy="0.0" ixz="0.0"
                    iyy="${2 / 5 * mass * radius ** 2}" iyz="0.0"
                    izz="${2 / 5 * mass * radius ** 2}"
                />
            </inertial>
            <visual>
                <origin xyz="${xyz}" rpy="0 0 0"/>
                <geometry>
                    <sphere radius="${radius}"/>
                </geometry>
                <material name="${material}"/>
            </visual>
            <collision>
                <origin xyz="${xyz}" rpy="0 0 0"/>
                <geometry>
                    <sphere radius="${radius}"/>
                </geometry>
            </collision> 
        </link>
        <gazebo reference="${name}">
            <material>Gazebo/${material}</material>
        </gazebo>
    </xacro:macro>
</robot>