<?xml version="1.0"?>
<launch>
    <!-- setting default arguements -->
    <arg name="model" default="$(find separable_jaws_description)/urdf/separable_jaws.xacro"/>
    <arg name="gui" default="true"/>
    <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz"/>
    <arg name="using_gazebo" default="false"/>

    <!-- parse xacro files into urdf files -->
    <param name="robot_description" command="$(find xacro)/xacro $(arg model) using_gazebo:=$(arg using_gazebo)"/>

    <!-- publish states of joints so rviz can visualize the movements -->
    <!-- using gui for panel control of the robot -->
    <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
    <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    
    <!-- publish the transform of the robot so rviz can visualize the movements -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- visualize in rviz -->
    <!-- using config from urdf_tutorial -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>
</launch>